<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.piszek.roam.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2AACD126-3A80-4A72-8E46-36F3A389D851</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8176F49-8CF3-4813-9CF6-6B488F0A5166</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3EF96351-A602-4540-B61A-51673AE92706</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy content to Clipboard and paste to the frontmost App</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8176F49-8CF3-4813-9CF6-6B488F0A5166</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>798C6EF5-C578-466A-B323-3124FCB3EE82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F62DFFF0-FDF2-4344-8954-0AD92EF27031</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@artpi</string>
	<key>description</key>
	<string>Search your Roam Database from alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Roam</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>798C6EF5-C578-466A-B323-3124FCB3EE82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>r</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching searching searching</string>
				<key>script</key>
				<string>&lt;?php
error_reporting( E_WARNING );
require_once  './workflow.php';
(new Roam())-&gt;search( isset( $argv[1] ) ? $argv[1] : '' );

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Start your search query</string>
				<key>title</key>
				<string>Search Roam blocks</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2AACD126-3A80-4A72-8E46-36F3A389D851</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^http</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>F62DFFF0-FDF2-4344-8954-0AD92EF27031</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D8176F49-8CF3-4813-9CF6-6B488F0A5166</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3EF96351-A602-4540-B61A-51673AE92706</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://deliber.at/roam-alfred/</string>
	<key>uidata</key>
	<dict>
		<key>2AACD126-3A80-4A72-8E46-36F3A389D851</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>3EF96351-A602-4540-B61A-51673AE92706</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>798C6EF5-C578-466A-B323-3124FCB3EE82</key>
		<dict>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>D8176F49-8CF3-4813-9CF6-6B488F0A5166</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://deliber.at/roam-alfred/</string>
</dict>
</plist>
